<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>
        Welcome <%= @user.name %>
      </h3>
      <h5 class='text-center'>
        <%= link_to  "Create a new reservation", new_user_reservation_path(@user) %> <br>
        <%= link_to "View All Reservations", user_reservations_path(@user) %>
      </h5>
  </div>
</div>


