<div class="text-center home">
  <h2>Welcome To LimoRes</h2>
  <br/>
  <p>
    Please sign up or login to test the app.
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-primary" %>
</div>

<br>
<br>

<img src="https://www.articleinquiry.com/wp-content/uploads/2019/07/Limo-from-JFK-to-Manhattan-2.jpg" class="img-fluid" alt="Responsive image">
