<div class="text-center home">
  <h2>Welcome To LimoRes</h2>
  <br/>
  <p>
    Please sign up or login to test the app.
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-primary" %>
  <%= link_to "Log in", login_path, class: "btn btn-primary" %>
</div>

<br>
<br>

<img src="https://www.new-york-city-travel-tips.com/wordpress/wp-content/uploads/2016/12/limousine-new-york-7.jpg" class="img-fluid" alt="Responsive image">
