<div class="row">
  <div class="offset-4 col-md-4">
      <p class='text-center'>
      <h3 class='text-center'>List of All Drivers: </h3> <br> <br>
        <% @drivers.each do |d| %>
        <ol>
         <h5 class='text-center'><%= link_to d.name, driver_path(d) %></h5> 
        </ol>
        <% end %>
      </p>
  </div>
</div>

<%= link_to  "Add a New Driver", new_driver_path %>
